In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import yfinance as yf
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
import plotly.io as pio
pio.renderers.default = "browser"

In [3]:
ticker = "SPY"

In [4]:
df = yf.download(
    tickers = ticker,
    period="1d",
    interval="1m"
    
)

[*********************100%***********************]  1 of 1 completed

In [5]:
df.head()

Price,Close,High,Low,Open,Volume
Ticker,SPY,SPY,SPY,SPY,SPY
Datetime,,,,,
2025-12-26 14:30:00+00:00,690.390015,690.969971,690.390015,690.640015,1112996
2025-12-26 14:31:00+00:00,690.429993,690.599976,690.270020,690.400024,352444
2025-12-26 14:32:00+00:00,690.729919,690.739990,690.400024,690.440002,274951
2025-12-26 14:33:00+00:00,691.045105,691.054993,690.520020,690.705017,166769
2025-12-26 14:34:00+00:00,690.945007,691.090027,690.940002,691.039978,150853

In [6]:
df.columns = df.columns.droplevel(1)

In [7]:
df.head()

Price,Close,High,Low,Open,Volume
Datetime,,,,,
2025-12-26 14:30:00+00:00,690.390015,690.969971,690.390015,690.640015,1112996
2025-12-26 14:31:00+00:00,690.429993,690.599976,690.270020,690.400024,352444
2025-12-26 14:32:00+00:00,690.729919,690.739990,690.400024,690.440002,274951
2025-12-26 14:33:00+00:00,691.045105,691.054993,690.520020,690.705017,166769
2025-12-26 14:34:00+00:00,690.945007,691.090027,690.940002,691.039978,150853

In [8]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Candlestick(
    x=df.index,
    open=df["Open"],
    high=df["High"],
    low=df["Low"],
    close=df["Close"]
)])

fig.update_layout(template="plotly_dark")
fig.show()

In [13]:
data_etf = yf.download(
    # passes the ticker
    tickers=['SPY', 'QQQ', 'DIA', 'IWM', 'VTI', 'VXX',          # <- US ETFs
             'FEZ', 'IEUR', 'EWG', 'EWQ', 'EWU', 'EWL'],        # <- European ETFs
    group_by = 'ticker',
    threads=True, # Set thread value to true
    # used for access data[ticker]
    period='1d', 
    interval='1m' 
)

[*********************100%***********************]  12 of 12 completed

In [14]:
data_etf.head()

Ticker                           VXX                                   \
Price                           Open       High        Low      Close
Datetime
2025-12-26 14:30:00+00:00  26.910000  26.920099  26.879999  26.915001
2025-12-26 14:31:00+00:00  26.920000  26.930000  26.889999  26.924500
2025-12-26 14:32:00+00:00  26.924999  26.940001  26.910000  26.930000
2025-12-26 14:33:00+00:00  26.930000  26.959999  26.920000  26.920000
2025-12-26 14:34:00+00:00  26.910000  26.940001  26.910000  26.940001

Ticker                                      VTI                          \
Price                        Volume        Open        High         Low
Datetime
2025-12-26 14:30:00+00:00  105470.0  340.135010  340.179993  339.890015
2025-12-26 14:31:00+00:00   31293.0  339.890015  339.929993  339.810089
2025-12-26 14:32:00+00:00   11014.0  339.880005  339.959991  339.850098
2025-12-26 14:33:00+00:00    6984.0  339.910004  340.089996  339.820007
2025-12-26 14:34:00+00:00   27820.0  340.070007  340.109894  340.026215

Ticker                                         ...       IEUR             \
Price                           Close  Volume  ...       Open       High
Datetime                                       ...
2025-12-26 14:30:00+00:00  339.890015  294708  ...  71.269997  71.269997
2025-12-26 14:31:00+00:00  339.810089   70323  ...        NaN        NaN
2025-12-26 14:32:00+00:00  339.940002    4576  ...  71.189102  71.189102
2025-12-26 14:33:00+00:00  340.070007    9874  ...  71.199997  71.205002
2025-12-26 14:34:00+00:00  340.027008    9447  ...  71.209999  71.209999

Ticker                                                         FEZ             \
Price                            Low      Close  Volume       Open       High
Datetime
2025-12-26 14:30:00+00:00  71.269997  71.269997  3178.0  64.589996  64.610001
2025-12-26 14:31:00+00:00        NaN        NaN     NaN  64.510002  64.519997
2025-12-26 14:32:00+00:00  71.189102  71.189102   222.0  64.489998  64.540001
2025-12-26 14:33:00+00:00  71.199997  71.205002  2094.0  64.559998  64.559998
2025-12-26 14:34:00+00:00  71.209999  71.209999  1936.0  64.599998  64.599998

Ticker
Price                            Low      Close   Volume
Datetime
2025-12-26 14:30:00+00:00  64.535004  64.535004  10511.0
2025-12-26 14:31:00+00:00  64.480003  64.489998   3980.0
2025-12-26 14:32:00+00:00  64.489998  64.540001   2665.0
2025-12-26 14:33:00+00:00  64.559998  64.559998    661.0
2025-12-26 14:34:00+00:00  64.599998  64.599998    406.0

[5 rows x 60 columns]

In [15]:
ETF_US = ['SPY','QQQ','DIA','IWM','VTI','VXX']
ETF_EUROPE = ['FEZ','IEUR','EWG','EWQ','EWU','EWL']

etf_us = {ticker: data_etf[ticker].dropna() for ticker in ETF_US}
etf_europe = {ticker: data_etf[ticker].dropna() for ticker in ETF_EUROPE}

In [16]:
etf_us["SPY"].head()

Price,Open,High,Low,Close,Volume
Datetime,,,,,
2025-12-26 14:30:00+00:00,690.640015,690.969971,690.390015,690.390015,1112996
2025-12-26 14:31:00+00:00,690.400024,690.599976,690.270020,690.429993,352444
2025-12-26 14:32:00+00:00,690.440002,690.739990,690.400024,690.729919,274951
2025-12-26 14:33:00+00:00,690.705017,691.054993,690.520020,691.045105,166769
2025-12-26 14:34:00+00:00,691.039978,691.090027,690.940002,690.945007,150853

fig_left = go.Figure()
    fig_left.add_trace(
                go.Scatter(x=data['Date'], y=data['AAPL']['Adj Close'], name="AAPL")
            )
    fig_left.add_trace(
                go.Scatter(x=data['Date'], y=data['AMZN']['Adj Close'], name="AMZN")
            )
    fig_left.add_trace(
                go.Scatter(x=data['Date'], y=data['QCOM']['Adj Close'], name="QCOM")
            )
    fig_left.add_trace(
                go.Scatter(x=data['Date'], y=data['META']['Adj Close'], name="META")
            )
    fig_left.add_trace(
                go.Scatter(x=data['Date'], y=data['NVDA']['Adj Close'], name="NVDA")
            )
    fig_left.add_trace(
                go.Scatter(x=data['Date'], y=data['JPM']['Adj Close'], name="JPM")
            )
    fig_left.update_layout(paper_bgcolor="#14151b", plot_bgcolor="#14151b", font_color="white")

    plot_div_left = plot(fig_left, auto_open=False, output_type='div')