In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import yfinance as yf
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [54]:
import plotly.io as pio
pio.renderers.default = "browser"

In [55]:
ticker = "SPY"

In [56]:
df = yf.download(
    tickers = ticker,
    period="1d",
    interval="1m"
    
)

[*********************100%***********************]  1 of 1 completed

In [57]:
df.head()

Price,Close,High,Low,Open,Volume
Ticker,SPY,SPY,SPY,SPY,SPY
Datetime,,,,,
2025-12-26 14:30:00+00:00,690.390015,690.969971,690.390015,690.640015,1112996
2025-12-26 14:31:00+00:00,690.429993,690.599976,690.270020,690.400024,352444
2025-12-26 14:32:00+00:00,690.729919,690.739990,690.400024,690.440002,274951
2025-12-26 14:33:00+00:00,691.045105,691.054993,690.520020,690.705017,166769
2025-12-26 14:34:00+00:00,690.945007,691.090027,690.940002,691.039978,150853

In [58]:
df.columns = df.columns.droplevel(1)

In [59]:
df.head()

Price,Close,High,Low,Open,Volume
Datetime,,,,,
2025-12-26 14:30:00+00:00,690.390015,690.969971,690.390015,690.640015,1112996
2025-12-26 14:31:00+00:00,690.429993,690.599976,690.270020,690.400024,352444
2025-12-26 14:32:00+00:00,690.729919,690.739990,690.400024,690.440002,274951
2025-12-26 14:33:00+00:00,691.045105,691.054993,690.520020,690.705017,166769
2025-12-26 14:34:00+00:00,690.945007,691.090027,690.940002,691.039978,150853

In [62]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Candlestick(
    x=df.index,
    open=df["Open"],
    high=df["High"],
    low=df["Low"],
    close=df["Close"]
)])

fig.update_layout(template="plotly_dark")
fig.show()